Salut, bienvenue sur {{ ansible_hostname }}

Voici la liste de ses IP en IPv4:
{% for int in ansible_interfaces %}
  {{ ansible_facts[int].device }}
  {{ ansible_facts[int].ipv4.address }}
{% endfor %}
